/* =====================Normalaze CSS============================== */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

/ summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* =====================/Normalaze============================== */


/*=====================Header=====================*/

.header {
    min-height: 130px;
    background-color: #353436;
}

.header_inner {
    margin: 0 20px;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 20px 0;
}

.navigation {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.popup {
    margin-top: 8px;
    text-align: right;
}

.popup_text {
    font-size: 14px;
    color: #fff;
}

.nav {
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 23px;
}

.nav_item {
    position: relative;
    padding: 0 14px;
}

.nav_item:last-child {
    padding: 0 0 0 14px;
}

.dropdown {
    display: none;
    width: 150px;
    height: 155px;
    font-size: 16px;
    z-index: 1;
    background-color: #353436;
    position: absolute;
    left: -5px;
}

.show {
    display: block
}

.dropdown_list {
    padding: 12px 0 0 12px;
    list-style: none;
}

.dropdown_item {
    margin: 0 5px;
    padding-top: 10px;
    position: relative;
}

.dropdown_item::after {
    bottom: -5px;
    left: -8px;
    content: "";
    width: 105%;
    height: 1px;
    position: absolute;
    z-index: 1;
    background-color: white
}

.dropdown_item:last-child::after {
    display: none;
}


/*=====================/header=====================*/


/*=====================Slider=====================*/

.gallery {
    position: relative;
    overflow: hidden;
}

.slick-slide {
    height: 82vh;
}

.first_slide {
    background: url(../img/bg.jpg) center no-repeat;
    background-size: cover;
}

.second_slide {
    background: url(../img/bg2.jpg) center no-repeat;
    background-size: cover;
}

.third_slide {
    background: url(../img/bg3.jpg) center no-repeat;
    background-size: cover;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    bottom: 39px;
    z-index: 2;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    z-index: 1;
    background: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    font-size: 0;
    cursor: pointer;
}

.slick-dots button:focus {
    outline: 0;
}

.slick-dots .slick-active button {
    background: #e2d1a6;
}

.slider_info {
    z-index: 2;
    padding: 0px 20px 15px 15px;
    position: absolute;
    width: 510px;
    height: 140px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, .5)
}

.slider_info_title {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-transform: uppercase;
}

.slider_info_text {
    font-size: 18px;
}


/*=====================/slider=====================*/


/*=====================Quotes=====================*/

.quotes {
    z-index: 4;
    max-height: 300px;
    margin: 0 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: stretch;
    bottom: 0;
    transition: all .4s ease-in;
}

.hidden {
    max-height: 0;
}

.quotes_item {
    padding: 0 15px 5px 15px;
    width: 33.33333%;
    background-color: #fff;
}

.quotes_item_first {
    background-color: #e2d1a6;
}

.quotes_item_last {
    color: white;
    background-color: #010101;
}

.quotes_button {
    border: none;
    position: relative;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 85px;
    background-color: #fff;
}

.quotes_button img {
    transition: all .2s linear;
}

.reverse img {
    transition: all .2s linear;
    transform: scale(1, -1)
}

.quotes_title_main {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    margin: -6px 0 0 0;
}

.quotes_title {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    margin: 20px 0;
}

.quotes_item_text {
    margin: 16px 0 22px 0;
}

.quotes_item_author {
    font-size: 18px;
    margin-bottom: 12px;
    text-align: right;
}

.quotes_item_author_first {
    text-decoration: underline;
    color: white;
}

/*=====================/quotes=====================*/


/*=====================Footer=====================*/

.footer {
    min-height: 215px;
    display: flex;
    justify-content: center;
    background-color: #353436;
}

.footer_inner {
    width: 75%;
    display: flex;
    justify-content: center
}

.footer_item {
    width: 25%;
    margin: 0 30px;
}

.footer_item_title {
    margin: 38px 0 26px 0;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #a0a0a0;
}

.footer_text {
    font-size: 12px;
    color: #8a898a;
}

.footer_form {
    position: relative;
    width: 185px;
}

.footer_input {
    width: 185px;
    height: 32px;
}

.footer_input:first-child {
    margin-bottom: 12px;
}

.footer_input::placeholder {
    font-size: 14px;
}

.footer_radio {
    margin: 10px 0;
}

.radio_text {
    position: relative;
    color: #b5b4b4;
    font-size: 10px;
    top: -2px;
}

.footer_button {
    border: none;
    background-color: #000;
    color: white;
    width: 185px;
    height: 32px;
    text-transform: uppercase;
}

.social {
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.social_icon {
    margin-top: 23px;
    padding-right: 10px;
}

.bottom_line {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 20px 20px;
    background-color: #353436;
}

.feedback {
    display: flex;
    justify-content: flex-start;
}

.feedback_item:first-child {
    padding: 0 8px 0 0;
}

.feedback_item {
    font-size: 12px;
    padding: 0 8px;
    color: #939394;
}

.languages {
    display: flex;
    justify-content: flex-end;
}

.languages_item {
    font-size: 14px;
    padding: 0 10px;
    position: relative;
    color: #c9c9c9;
    text-transform: uppercase;
}

.languages_item:last-child {
    padding: 0 0 0 10px;
}

.languages_item::after {
    position: absolute;
    content: "";
    margin-left: 10px;
    height: 100%;
    width: 2px;
    background-color: #fff;
}

.languages_item:last-child::after {
    display: none;
}
