/* =============Normalaze CSS================== */

main {
    display: block;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
}

address {
    font-style: normal;
}

img {
    border-style: none;
}

button,
[type="button"] {
    -webkit-appearance: button;
}

html,
body {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

fieldset {
    padding: 0;
}

/* =================/Normalaze==================== */

/*=====================Header=====================*/

.header {
    min-height: 130px;
    background-color: #353436;
}

.header_inner {
    margin: 0 20px;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.nav_group {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.popup_group {
    max-height: 16px;
    margin-top: 8px;
    text-align: right;
}

.popup_text {
    font-size: 14px;
    color: #fff;
}

.popup_text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.popup {
    display: flex;
    transition: all .5s ease 0s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 5;
    justify-content: center;
    align-items: center;
}

.popup_inner {
    transition: all .5s ease 0s;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    min-width: 40%;
    max-width: 90%;
    min-height: 40%;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(200, 200, 200, 1);
    transform: translateY(-200%);
}

.popup_content {
    color: #333;
    font-size: 25px;
}

.popup_close {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.open {
    opacity: 1;
    visibility: visible
}

.move {
    transform: translateY(0)
}

.nav {
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 23px;
}

.nav_item {
    position: relative;
    padding: 0 14px;
}

.nav_item:hover {
    text-decoration: underline;
}

.menu_link_active {
    color: #e2d1a6;
}

.nav_item:last-child {
    padding: 0 0 0 14px;
}

/*========Dropdown menu===========*/

.dropdown {
    opacity: 0;
    visibility: hidden;
    min-width: 150px;
    min-height: 155px;
    font-size: 16px;
    z-index: 1;
    background-color: #353436;
    position: absolute;
    left: -5px;
    transition: all .2s linear;
}

.show {
    opacity: 1;
    visibility: visible;
}

.dropdown_list {
    opacity: 0;
    padding: 12px 0 0 12px;
    list-style: none;
    transition: all .2s linear;
    transform: translateY(-100px)
}

.dropdown_list.show {
    opacity: 1;
    transform: translateY(0)
}

.dropdown_item {
    margin: 0 5px;
    padding-top: 10px;
    position: relative;
}

.dropdown_item_active a {
    color: #b4a788;
}

.dropdown_item:hover {
    text-decoration: underline;
}

.dropdown_item::after {
    bottom: -5px;
    left: -8px;
    content: "";
    width: 105%;
    height: 1px;
    position: absolute;
    z-index: 1;
    background-color: white
}

.dropdown_item:last-child::after {
    display: none;
}

/*========/dropdown menu===========*/

/*========Burger menu===========*/

.burger {
    cursor: pointer;
    display: none;
    justify-content: flex-end;
    margin: 50px 0 0 0;
    border: 0;
    padding: 9px 2px;
}

.burger_line {
    display: block;
    width: 30px;
    height: 6px;
    background-color: #fff;
    position: relative;
    border-radius: 15px;
    transition: all .3s ease-in

}

.burger_line:before,
.burger_line:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #e2d1a6;
    border-radius: 15px;
    transition: all .3s ease-in
}

.burger_line:before {
    top: -8px;
}

.burger_line:after {
    bottom: -8px;
}

.burger_line_animate.burger_line {
    height: 0;
}

.burger_line_animate.burger_line:before, 
.burger_line_animate.burger_line:after {
    height: 6px;
} 

.burger_line_animate.burger_line:before {
    top: -3px;
    transform: rotate(-45deg)
} 
.burger_line_animate.burger_line:after {
    bottom: -3px;
    transform: rotate(45deg)
} 


.dropdown_burger {
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -83px;
    top: 45px;
    z-index: 6;
    background-color: #353436;
    transition: all .2s linear;
}

.dropdown_burger_list {
    margin: 0 20px 0 -20px;
    font-size: 16px;
    list-style: none;
}

.dropdown_burger_item {
    margin: 10px 0;
    position: relative;
}

.dropdown_burger_item:after {
    bottom: -5px;
    left: -8px;
    content: "";
    width: 105%;
    height: 1px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
}

.dropdown_burger_item:last-child:after {
    display: none;
}

/*========/burger menu===========*/

/*========Burger Dropdown menu===========*/

.burger_inner_dropdown {
    border-right: 1px solid black;
    transition: all .2s linear;
    visibility: hidden;
    transform: translateX(100px);
    opacity: 0;
    min-width: 150px;
    min-height: 155px;
    font-size: 16px;
    z-index: 7;
    background-color: #353436;
    position: absolute;
    top: -8px;
    left: -170px;
}

.inner_menu_link_active {
    color: #b4a788
}

.burger_inner_dropdown_list {
    padding: 12px 0 0 12px;
    list-style: none;
}

.toggleburger {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.toggleinnerburger {
    visibility: visible;
    opacity: 1;
    transform: translateX(0)
}



/*========/burger Dropdown menu===========*/

/*=====================/header=====================*/

/*=====================Slider=====================*/

.gallery {
    position: relative;
    overflow: hidden;
}

.slick-slide {
    height: 82vh;
}

.first_slide {
    background: url(../img/bg.jpg) center no-repeat;
    background-size: cover;
}

.second_slide {
    background: url(../img/bg2.jpg) center no-repeat;
    background-size: cover;
}

.third_slide {
    background: url(../img/bg3.jpg) center no-repeat;
    background-size: cover;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    bottom: 39px;
    z-index: 2;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    background: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    font-size: 0;
    cursor: pointer;
}

.slick-dots button:focus {
    outline: 0;
}

.slick-dots .slick-active button {
    background: #e2d1a6;
}

.gallery_info {
    z-index: 2;
    padding: 0px 20px 15px 15px;
    position: absolute;
    width: 510px;
    min-height: 140px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, .5)
}

.gallery_info_title {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-transform: uppercase;
}

.gallery_info_text {
    font-size: 18px;
}

/*=====================/slider=====================*/

/*=====================Quotes=====================*/

.quotes {
    margin: 0 20px;
    z-index: 4;
    max-height: 323px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: stretch;
    bottom: 0;
    transition: all .4s linear;
}

.hidden {
    max-height: 0;
}

.quotes.hidden .quotes_item_author {
    opacity: 0;
    font-size: 0;
}

.quotes_item {
    position: relative;
    padding: 0 15px 5px 15px;
    width: 33.33333%;
    background-color: #fff;
}

.quotes_item_first {
    background-color: #e2d1a6;
}

.quotes_item_last {
    color: white;
    background-color: #010101;
}

.quotes_button {
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
    position: relative;
    bottom: 30px;
    height: 30px;
    width: 85px;
    background-color: #fff;
}

.quotes_button:focus {
    outline: none;
}

.quotes_button img {
    transition: all .2s linear;
}

.reverse img {
    transform: scale(-1, -1)
}

.quotes_title_main {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    margin: -6px 0 0 0;
}

.quotes_title {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    margin: 20px 0;
}

.quotes_item_text {
    margin: 16px 0 42px 0;
}

.quotes_item_author {
    transition: all .1s linear;
    position: absolute;
    bottom: 12px;
    right: 22px;
}

.quotes_item_author_first {
    text-decoration: underline;
    color: white;
}

/*=====================/quotes=====================*/

/*=====================Footer=====================*/

.footer {
    min-height: 215px;
    display: flex;
    justify-content: center;
    background-color: #353436;
}

.footer_inner {
    width: 75%;
    display: flex;
    justify-content: center;
}

fieldset {
    border: none;
}

.footer_item {
    width: 25%;
    margin: 0 30px;
}

.footer_item_title {
    margin: 38px 0 26px 0;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #a0a0a0;
}

.footer_text {
    font-size: 12px;
    color: #8a898a;
}

.footer_form {
    position: relative;
    width: 185px;
}

.footer_input {
    width: 185px;
    height: 32px;
    outline: none;
}

.footer_input:first-child {
    margin-bottom: 12px;
}

.footer_input::placeholder {
    font-size: 14px;
}

.footer_checkbox {
    margin: 10px 0;
}

.checkbox_text {
    position: relative;
    color: #b5b4b4;
    font-size: 10px;
    top: -2px;
}

.footer_button {
    border: none;
    background-color: #000;
    color: white;
    width: 185px;
    height: 32px;
    text-transform: uppercase;
    transition: all .4s linear;
}

.footer_button:hover {
    background-color: #b5b4b4;
}

.social {
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.social_icon {
    margin-top: 23px;
    padding-right: 10px;
}

.bottom_line {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 20px 20px;
    background-color: #353436;
}

.feedback {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.feedback_item:first-child {
    padding: 0 8px 0 0;
}

.feedback_item {
    font-size: 12px;
    padding: 0 8px;
    color: #939394;
}

.feedback_item a {
    color: #939394;
    text-decoration: none;
}

.languages {
    display: flex;
    justify-content: flex-end;

}

.languages_item {
    cursor: pointer;
    font-size: 14px;
    padding: 0 10px;
    position: relative;
    color: #c9c9c9;
    text-transform: uppercase;
}

.languages_item:last-child {
    padding: 0 0 0 10px;
}

.languages_item::after {
    position: absolute;
    content: "";
    margin-left: 10px;
    height: 16px;
    width: 2px;
    background-color: #fff;
}

.languages_item:last-child::after {
    display: none;
}

.languages_item:hover {
    color: #fff;
}

/*=====================/footer=====================*/

/*=====================Adaptive=====================*/

@media (max-width: 4000px) {
    .quotes_title {
        font-size: 38px;
    }
    .quotes_title_main {
        font-size: 38px;
    }
    .quotes_item_text {
        font-size: 34px;
    }
    .quotes_item_author {
        font-size: 32px;
    }
}

@media (max-width: 2000px) {
    .quotes_title {
        font-size: 28px;
    }
    .quotes_title_main {
        font-size: 28px;
    }
    .quotes_item_text {
        font-size: 18px;
    }
    .quotes_item_author {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .nav {
        display: none;
    }
    .burger {
        display: flex;
    }
    .quotes_title {
        font-size: 18px;
    }
    .quotes_title_main {
        font-size: 18px;
    }
    .quotes_item_text {
        font-size: 16px;
    }
    .quotes_item_author {
        font-size: 14px;
    }
}

@media (max-width: 680px) {
    .gallery_info {
        top: 45%;
        max-width: 100%;
        padding: 0 0 0 10px;
    }
    .quotes {
        margin: 0;
    }
    .quotes_item {
        padding: 0 10px 5px 10px
    }
    .quotes_title {
        font-size: 16px;
    }
    .quotes_title_main {
        font-size: 16px;
    }
    .quotes_item_text {
        font-size: 14px;
    }
    .quotes_item_author {
        font-size: 12px;
    }
    .footer_inner {
        flex-wrap: wrap;
    }
    .footer_item {
        width: 100%;
        margin: 0 5px;
    }
    .footer_form {
        width: auto;
    }
    .subscribe {
        text-align: center;
    }
    .social {
        left: 39%;
    }

    .bottom_line {
        padding: 80px 20px 20px 20px
    }
}

@media (max-width: 525px) {
    .gallery_info_title {
        font-size: 20px;
    }
    .gallery_info_text {
        font-size: 14px;
    }
    .feedback_item:first-child {
        padding: 0 8px;
    }
    .languages_item {
       flex-wrap: wrap;
        padding: 2px;
    }
    .languages_item:after {
        display: none;
    }
    .languages_item:last-child {
        padding: 2px;
    }
    .footer_input:first-child {
        margin-left: -5px;
    }
}

@media (max-width: 465px) {
    .logo {
        width: 100%;
    }
    .logo img {
        width: 100%;
    }
    .quotes_item {
        padding: 0 5px 5px 5px
    }
    .quotes_title {
        font-size: 16px;
    }
    .quotes_title_main {
        font-size: 16px;
    }
    .quotes_item_text {
        font-size: 12px;
    }
    .quotes_item_author {
        font-size: 10px;
    }
}

/*=====================/adaptive=====================*/

/*=====================Crossbrowser support=====================*/

@-moz-document url-prefix() {
    .slick-dots li button {
        height: 20px;
    }
}

/*=====================/crossbrowser support=====================*/
